h2,
.hero {
  text-align: center;
}

/* Nav Bar */

.logo {
  font-size: 1.4rem;
  padding: 5px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

/* Jumbotron */

.jumbotron {
  background: rgb(119, 119, 119, 0.3);
}

.jumbotron img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Work */

.cardContainer {
  transition: all 0.4s;
  padding: 20px;
}

.cardContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-body {
  background: rgb(119, 119, 119, 0.3);
  text-align: center;
}

.card-text {
  text-align: left;
}
