:root {
  /* --background-color: rgba(119, 119, 119, 0.302); */
  --background-color: rgba(42, 138, 194, 0.3);
}

h2,
.hero {
  text-align: center;
}

/* Nav Bar */

.logo {
  font-size: 1.4rem;
  padding: 5px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

/* Jumbotron */

.jumbotron {
  background: var(--background-color);
}

.jumbotron img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Work */

.cardContainer {
  transition: all 0.4s;
  padding: 20px;
}

.cardContainer:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-body {
  background: var(--background-color);
  text-align: center;
}

.card-text {
  text-align: left;
}

/* Skills Section */

.skills {
  background: var(--background-color);
  padding: 20px;
  border-radius: 0.3rem;
}

.list-group {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

/* About / Contact */

.about {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "information contact";
  padding: 20px;
}

.about-info {
  grid-area: information;
  background: var(--background-color);
  border-radius: 0.3rem;
  padding: 25px;
  margin-right: 10px;
}

.contact {
  margin: 0 auto;
  margin-left: 10px;
  padding: 25px;
  text-align: center;
  grid-area: contact;
  background: var(--background-color);
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
}

/* Footer */

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 2px solid grey;
}

footer a {
  margin: 20px;
}

footer a:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  border-bottom: 2px solid lightblue;
}
